<script>
$(document).ready(function() {
  $("#form-subscribe").attr('target', 'formresult');
  $("#form-subscribe").submit(function(e) {
    window.open('about:blank', 'formresult', 'scrollbars=no,menubar=no,height=200,width=400,resizable=no,toolbar=no,status=no');
  });
});
</script>

<form method="get" action="https://reverbnation.com/controller/fan_reach/add_email_widget/artist_8983344" target="_blank" class="form-inline" id="form-subscribe">
  <input type="hidden" name="posted_by" value="artist_8983344">
  <input type="hidden" name="source" value="Widget">
  <div class="form-group">
    <input type="email" class="form-control" value="" name="email" maxlength="100" placeholder="Email Address">&nbsp;
  </div>
  <button type="submit" class="btn btn-primary">Join Our Mailing List!</button>
</form>
